@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
// Override default variables before the import
$primary: #0C4B33;
$secondary: #44B78B;
$success: #3AAED8;
$info: #FFFCE8;
$warning: #F6AE2D;
$danger: #E3655B;
$light: #CBBFBB;
$dark: #333333;
$navbar-dark-color: rgba($light,
.55) !default;
$navbar-dark-hover-color: rgba($light,
.75) !default;
$navbar-dark-active-color: $light !default;
$navbar-dark-brand-color: $secondary !default;
$navbar-dark-brand-hover-color: $secondary !default;
$body-bg: #DDD;
$body-color: #333;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
.navbar-brand {
    font-size: x-large;
}

html {
    overflow-y: scroll;
    width: 100vw;
}

figure img {
    width: 100%;
}

tr {
    font-size: 2em;
}

.bi-arrow-return-left {
    font-size: 2em;
}

.bi-code .bi-code-slash {
    font-size: 2em;
}

tr:hover {
    text-decoration: underline solid 0.1em;
    background-color: rgba($light, .1);
}

.unusual-link {
    cursor: pointer
}

@keyframes navbarAnimate {
    0%,
    85%,
    100% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(5deg);
    }
    95% {
        transform: rotate(-5deg);
    }
}

.navbar .active {
    animation: navbarAnimate 2s linear 0s infinite normal;
}

.portfolioCard {
    transition: transform .2s;
}

.portfolioCard:hover {
    transform: scale(1.1);
}

#contentDiv {
    max-width: 960px;
}

@keyframes floatingButtonAnimate {
    0%,
    40% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(10deg);
    }
    70% {
        transform: rotate(0deg);
    }
}

.floating-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 48px;
    height: 48px;
    background: $secondary;
    border-radius: 50%;
    border: 1px solid rgba(55, 55, 55, 0.5);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-label {
    position: fixed;
    right: 80px;
    width: 96px;
    height: 36px;
    background: $light;
    border: none;
    border-radius: 5%;
    border-top: 3px solid rgba(55, 55, 55, 0.5);
    border-left: 3px solid rgba(55, 55, 55, 0.5);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
    color: $dark;
    font-family: 'Comfortaa';
}

// .floating-moving-button:hover {
//     animation: floatingButtonAnimate 1s linear 0s infinite normal;
// }
.bi {
    display: flex;
    font-size: 2rem;
    color: $dark;
    margin: 0;
    padding: 0;
}