// Override default variables before the import
$primary: #e62e2e;
$secondary: #ff0080;
$body-color: #555;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
html {
    overflow-y: scroll;
    width: 100vw;
    max-width: 100%;
}

body {
    margin: 0 auto;
}

h1,
h2,
strong {
    color: #333;
}

a {
    color: $primary;
}

mark {
    background-color: rgba($primary, 0.25);
}

.no-js header {
    background-image: url("/images/whispy-guys.png");
}

.no-webp header {
    background-image: url("/images/whispy-guys.png");
}

.webp header {
    background-image: url("/images/whispy-guys.webp");
}

header {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 7vw 2em;
    text-align: center;
    margin-bottom: 1.5em;
}

header h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 300;
    padding-top: 0.5em;
}

header img {
    display: inline-block;
    width: 150px;
    height: 150px;
    vertical-align: top;
    border-radius: 90px;
}

tr {
    font-size: 2em;
}

.bi-arrow-return-left {
    font-size: 2em;
}

.bi-code .bi-code-slash {
    font-size: 2em;
}

tr:hover {
    text-decoration: underline solid 0.1em;
    background: rgba($primary, .1);
}

.unusual-link {
    cursor: pointer
}

.portfolioCard {
    transition: transform .2s;
}

.portfolioCard:hover {
    transform: scale(1.1);
}

#contentDiv {
    max-width: 960px;
}

@keyframes floatingButtonAnimate {
    0%,
    40% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(10deg);
    }
    70% {
        transform: rotate(0deg);
    }
}

.floating-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 48px;
    height: 48px;
    background: $primary;
    border-radius: 50%;
    border: 1px solid rgba(55, 55, 55, 0.5);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-label {
    position: fixed;
    right: 80px;
    width: 96px;
    height: 36px;
    background: $light;
    border: none;
    border-radius: 5%;
    border-top: 3px solid rgba(55, 55, 55, 0.5);
    border-left: 3px solid rgba(55, 55, 55, 0.5);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
    color: $dark;
}

.floating-moving-button:hover {
    animation: floatingButtonAnimate 1s linear 0s infinite normal;
}

.floating-button .bi {
    display: flex;
    font-size: 2rem;
    color: $dark;
    margin: 0;
    padding: 0;
}

.externalLink {
    float: right;
    text-decoration: none;
}

.modal-open {
    overflow: hidden;
    padding-right: 0 !important;
}

blockquote {
    font-size: 1.1em;
    width: 90%;
    margin: 50px auto;
    font-style: italic;
    color: $dark;
    padding: 1em;
    border-left: 8px solid $primary;
    line-height: 1.6;
    position: relative;
    background: $light;
}

blockquote span {
    display: block;
    color: $dark;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}

.checkboxList li {
    display: inline-block;
}

.figcaption {
    position: relative;
    bottom: 30px;
}

.bannerImg {
    width: 100%
}